#app {
    width: 820px;
    margin: 0 auto;    
}

h1 {
   text-align: center;
}

.left {
    width: 410px;
    float: left;
}

.right {
    width: 410px;
    float: right;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li.fav img {    
    border-right: 5px solid #0000ff;
    border-left: 5px solid #fff;
}

li img {
    border-right: 5px solid #fff;
    border-left: 5px solid #ff0000;
}
